@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jacquard+24&family=Pixelify+Sans:wght@400..700&family=Silkscreen:wght@400;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --sky-purple: #AB93C9;
  --sky-pink: #CA90BD;
  --sky-pink-orange: #D698B9;
  --sky-orange: #FFBEA4;
  --city-pink-light: #EC8E9E;
  --city-pink: #CD6B8E;
  --city-pink-dark: #904B6B;
  --city-purple: #50435D;
  --city-dark: #0A2830;
  --city-darkest: #05141A;
  --my-radius: 0.25rem;
}

body {
  background-color: var(--city-darkest);
  text-align: center;
  color: var(--city-dark);
  font-family: "Space Mono", monospace !important;
  font-weight: 400;
  font-style: normal;
}

.main-container {
  background-image: url("./assets/sunset-city.gif");
  background-size: contain;
  background-repeat: repeat-x;
}

h1, h2, h3, th {
  font-family: "Pixelify Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
}

.page-heading {
  color: var(--city-darkest);
  text-shadow: 1px 1px 1px white;
}

.quests-label {
  color: var(--sky-purple);
  font-weight: 700;
}

.missions-label {
  color: var(--sky-pink);
  font-weight: 700;
}

table .quests-label, table .missions-label {
  font-size: 2.2em;
  text-shadow: 1px 1px 1px var(--city-darkest);
}

footer {
  color: var(--sky-purple);
  font-size: 0.75em;
  line-height: 0.75em;
}

a {
  color: var(--sky-pink);
}

footer small {
  font-size: 0.6em;
}

input {
  width: 30px !important;
  border-color: var(--city-dark) !important;
  border-radius: var(--my-radius) !important;
  border-style: solid !important;
  border-width: 1px !important; 
}

.total-cards {
  width: 15px;
  display: inline-block;
}
.earned-xp, .total-xp {
  width: 35px;
  display: inline-block;
}
.total-cards, .total-xp {
  color: var(--city-pink-dark);
  padding-top: 6px;
  padding-bottom: 6px;
}
.earned-cards, .earned-xp {
  color: var(--city-purple);
  padding-top: 6px;
  padding-bottom: 6px;
}
.assignment-label {
  width: 300px;
}

thead {
  line-height: 1em;
}
th {
  padding-top: 6px;
  padding-bottom: 6px;
}

.tables-container {
  width: 90%;
  margin: auto;
}
.tables-container table {
  background: rgba(255, 255, 255, 0.8);
  border: 5px solid var(--city-purple);
  font-size: 0.8em;
  font-weight: 700;
  width: 100%;
  height: 100%;
}

.info-section {
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description-container {
  padding-top: 14px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  display: inline-block;
  font-size: 0.6em;
  background: var(--city-dark);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--city-purple);
}

.results-container {
  padding-top: 14px;
  padding-bottom: 0px;
  padding-left: 6px;
  padding-right: 6px;
  background: var(--city-purple);
  color: white;
  font-size: 0.8em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-xp-label {
  font-size: 1.8em;
  text-shadow: 1px 1px 1px var(--city-darkest);
  font-family: "Pixelify Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700;
}
.total-xp-value {
  font-size: 1.5em;
  font-weight: 700;
  border-color: var(--city-dark) !important;
  border-radius: 0.25rem !important;
  border-style: solid !important;
  border-width: 1px !important; 
  color: var(--city-purple);
  background: white;
  display: inline-block;
  padding: 1px 8px;
  width: 80px;
}

.debug {
  border: 2px solid red;
}

@media (max-width: 560px) { 
  .assignment-label {
    width: 225px;
    font-size: 0.75em;
  }
}